<app-simple-page-layout
  headerText="Office Space"
  [hideBack]="true"
  class="h-100"
>
  <div
    content
    class="d-flex flex-column align-items-center justify-content-center h-100"
  >
    <ion-img src="/assets/images/logo.svg" class="w-75"></ion-img>
    <h2 class="g-fw-700 text-center">Welcome to Office Space Management</h2>
    <ion-text>Create and manage your office!</ion-text>
  </div>
  <div footer>
    <ion-button
      color="primary"
      expand="block"
      class="mb-2"
      (click)="handleRouteToRegister()"
      >Get Started</ion-button
    >
    <ion-button
      color="primary"
      fill="clear"
      expand="block"
      (click)="handleRouteToHome()"
      >Skip for now</ion-button
    >
  </div>
</app-simple-page-layout>
